section{
    margin: 30px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.frame{
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.frame img{
    border-radius: 15px;
    margin-bottom: 10px;
    width: 100%;
}
.frame{
    text-align: center;
}
.frame button{
    padding: 10px;
    border-radius: 10px;
    background: #007500;
    border: none;
}
.frame button a{
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.frame button:hover{
    background: #00ff00;
    text-decoration: underline;
}
.donations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 20px;
}
.donations .img-cont{
    margin: 0 15px;
    width: 400px;
}
.donations .img-cont img{
    width: inherit;
    border-radius: 10px;
}
.d-details p{
    text-align: justify;
}
.donations button{
    margin: 40px 20px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #007500;
    border: none;
}
.donations button a{
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width:970px) {
    .donations{
        flex-direction: column;
    }
    .donations img{
        width: 60%;
        margin: 20px 0 40px;
    }
}
@media only screen and (max-width:650px) {
    .donations img{
        width: 80%;
    }
}
@media only screen and (max-width:490px) {
    .donations .img-cont{
        width: 300px;
    }
}
@media only screen and (max-width:375px) {
    .donations .img-cont{
        width: 250px;
    }
}

/* Form css */
.amount{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.lbdate{
    display: block;
    color: rgb(48, 48, 48);
    padding-bottom: 5px;
    font-size: 20.5px;
}

.donation-form form input, .donation-form form textarea{
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;

}

#frmDonation{
    width: 80%;
}

.paymentDetails{
    width: 80%;
}

/*-----------------------------------------------Card Payment details------------------------------------------------------*/

.donation-form{
    background: #90EE90;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 20px;
    width: 65%;
    padding: 0 30px 30px 0;
    margin: auto;
    margin-bottom: 40px;
    transition: 1s;
}


.donation-form  form{
    margin: auto;
    padding: 20px;

}
.donation-form  form .inputBox{
    margin-top: 10px;
}

.donation-form form .inputBox span{
    display: block;
    color:#333;
    padding-bottom: 5px;
}

.donation-form  form input,
.donation-form  form .inputBox select,
.donation-form  form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.donation-form  form .flexbox{
    display: flex;
    gap:15px;
}

.donation-form  form .flexbox .inputBox{
    flex:1 1 150px;
}

.donation-form  form .submit-btn{
    width: 80%;
    align-items: center;
    transform: translateX(15%);
    margin: auto;
    background:#009578;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}
.donation-form  form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}