

section{
    padding: 30px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.frame{
    width: 30%;
    height: 750px;
    margin: 20px;
    padding: 10px;
    border: 5px solid #007500;
    box-shadow: 3px 3px 10px black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.frame img{
    border-radius: 15px;
    margin-bottom: 10px;
    width: 100%;
}
.frame{
    text-align: center;
}
.frame button{
    padding: 10px;
    border-radius: 5px;
    background: #007500;
}
.frame button a{
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.frame button:hover{
    background: #00ff00;
    text-decoration: underline;
}
@media only screen and (max-width:650px) {
    .frame{
        width: 75%;
    }
}